#ui_home {
  position: absolute;
  top: 20%;
  width: 95%;
  text-align: center;
  /* #clock {
    height: 150px;
    width: 150px;
  } */
  p {
    text-align: center;
    &.icon {
      font-size: 60px;
    }
    &.content {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
